.marquee {
  background: #111;
  width: 100%;
  overflow: hidden;
  color: #eee;
  user-select: none;
}

.marquee__inner {
  display: flex;
  animation: scroll-left 10s linear infinite;
  padding: 1em 0;
  width: max-content;
}

.marquee__content {
  padding: 0 2rem;
  white-space: nowrap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}
