:root {
  --margin: 1rem;
}

/* Nav container styles */
.nav-container {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 50;
  transition: transform 0.6s ease-in-out;
  background-image: linear-gradient(to top, transparent);
  width: auto;
  height: auto;
  @apply p-0 md:mt-4;
}
/* Toggle button */

/* Menu list (collapsed and responsive) */
.menu-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: auto;
  border-radius: 0.75rem;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

/* Open state */
.menu-list.open {
  max-height: 100vh;
}

.menu-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  cursor: pointer;
  height: auto;
  font-weight: bold;
  font-size: 1rem;

  @apply block w-max rounded-full border px-2 py-2 lg:hidden;
}

/* Large screen override */
@media (min-width: 1024px) {
  .menu-list {
    position: static;
    flex-direction: row;
    background: transparent;
    padding: 0;
    max-height: none;
    overflow: visible;
  }
}

.pill {
  @apply text-center font-semibold text-black;
  font-size: clamp(1.2rem, 1.5vw, 1.5vw);
}

/* Pill link styling */
.pill a,
.pill-link {
  text-decoration: none;
}

header h1.heading-1,
.clock-container {
  --font-scale: 1; /* default scale */
  transform-origin: top left;
  transition: font-size 0.3s ease;
  font-size: clamp(
    0.8rem,
    calc(5vw * var(--font-scale)),
    calc(5vw * var(--font-scale))
  );
}

header h2 {
  --font-scale: 1;
  font-size: clamp(0.5rem, calc(3vw * var(--font-scale)), 2rem);
}

header {
  position: fixed !important;
  top: 0;
  z-index: 50;
  background:
    linear-gradient(0deg, rgba(239, 239, 239, 1) 30%),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 8000 8000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

@media (max-width: 1024px) {
  #menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateX(100%);
    z-index: 50;
    transition: transform 0.5s ease-in-out;
    border-radius: 0;
    background: black;
    padding: 1rem;
    width: 100%;
    height: 100dvh;
  }

  #menu.open {
    transform: translateX(0%);
  }

  #menu .menu-toggle-button,
  #menu-close,
  .pill {
    cursor: pointer;
    border-color: white;
    color: white;
  }

  .pill {
    font-size: 3rem;
  }

  #menu:not(.open) {
    pointer-events: none;
  }
}

#menu.no-transition {
  transition: none !important;
}
